@import url('https://fonts.googleapis.com/css?family=Raleway');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #dcdcdc;
}
.heading{
  text-align: center;
  padding: 30px 0px;
  background-color: white;
  font-family: 'Raleway';
  font-size: 3em;
}

.main{
  margin: 50px auto;
  border: 3px solid grey;
  width: fit-content;
  background-color: honeydew;
  box-shadow: 0px 0px 20px 10px grey;
}
.inner{
  padding: 20px 40px;
}
.inner:not(:last-child){
  border-bottom: 2px solid grey;
}
.inner h1{
  text-align: center;
  margin-bottom: 10px;
}
.inner p{
  text-align: center;
  font-size: 2em;
  font-family: 'Raleway';
}